# .NET
bin/
obj/
*.user
*.suo

# Rider / VS
.vs/
.idea/
*.DotSettings.user

# Build results
[Dd]ebug/
[Rr]elease/

# NuGet
*.nupkg
project.lock.json

# OS
.DS_Store
Thumbs.db

# Local secrets / overrides
appsettings.*.local.json
